@import "../../../../style/data"

.companies
  padding: 60px 0

  .t
    margin-bottom: 30px

    h2
      color: black

  .company-slider

    .slick-track

    .slick-slide

    .company-item
      padding: 10px

      img
        margin: 0 auto
        height: auto
        max-width: 100%

@media only screen and (min-width: 1200px)
  .companies

    .t
      margin-bottom: 60px