$text_color: #2e2e2e
$text_color1: #232a72
$color2: #e7d885
$color3: #56c2f5

$gold: #F8EB92

$text_button_color: white
$text_button_color_hover: rgba(228, 228, 228, 0.91)

$yellow_light: #232a72
$yellow_box_shadow: #c7a052
$yellow_vs: #56c2f5
$yellow_hover: rgba(35, 42, 106, 0.95)
$yellow_box_shadow_hover: #FFE640


$box_shadow_light: 0 0 15px 0 rgba(0,0,0,.1)
$box_shadow_middle: 0 0 15px 0 rgba(0,0,0,.15)
$box_shadow_hard: 0 0 15px 0 rgba(0,0,0,.2)