@import '../../../../style/data'

.installments
  padding: 60px 0
  position: relative
  overflow: hidden

  .t
    margin-bottom: 50px

  .ins-item
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    flex: 1
    position: relative
    padding: 0
    height: 200px
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    border-radius: 4px
    max-width: 300px
    margin: 0 auto

    img
      height: auto
      max-width: 100%

    .bg
      background-color: rgba(255,255,255,.6)

    p
      position: absolute
      z-index: 2
      top: 50%
      transform: translateY(-50%)
      text-align: center
      width: 100%
      font-size: 20px
      font-weight: 700
      padding: 20px

  form

    input
      margin-bottom: 0
      margin-right: 5px




@import "installments-media"