@import "../../../../style/data"

@media only screen and (min-width: 992px)
  .navbar

    .navbar-nav

      .nav-item

        .nav-link
          margin-right: 10px

@media only screen and (min-width: 1629px)
  .navbar
    padding: 3px 200px

    .navbar-nav

      .nav-item

        .nav-link
          font-size: 18px

@media only screen and (max-width: 1199px)
  .navbar

    .navbar-brand

      img
        max-width: 100px

    .navbar-nav

      .nav-item

        .nav-link
          font-size: 15px
          font-weight: 900

@media only screen and (max-width: 991px)
  .navbar

    .navbar-nav
      align-items: center
      .nav-item

        .nav-link
          display: inline-block

      .nav-item-soc
        padding-top: 10px

      .nav-order

        .nav-number
          left: 0



