@import "../../../../style/data"

@media only screen and (min-width: 992px)
  .portfolio

    .t
      margin-bottom: 50px

@media only screen and (max-width: 1199px)
  .portfolio

    .t

      h4
        font-size: 22px

    .portfolio-slider

      .portfolio-item

        .portfolio-link

          img
            min-height: 300px

@media only screen and (max-width: 991px)
  .portfolio

    .portfolio-slider

      .portfolio-item

        .portfolio-link

          img
            min-height: 100%
            max-height: 100%