@import "../../../../style/data"

footer
  padding: 30px 0
  overflow: hidden
  background-color: $yellow_light

  .t
    margin-top: 50px

    p
      color: white
      font-weight: 900

  img
    height: auto
    max-width: 200px
    margin-bottom: 50px

  form

    .t

      h5
        color: $color2!important

    button
      color: black!important
      background-color: $color2!important

      &:hover
        background-color: #c8b96b !important

  .foot-item

    .t

      .item-socials

        a

          i
            transition: .2s
            font-size: 36px
            color: $color2

          &:hover

            i
              transition: .2s
              color: #b1a565

      h5
        color: $color2
        margin-bottom: 15px

      a
        margin: 0 5px
        font-size: 20px
        font-weight: 300
        text-decoration: underline
        margin-bottom: 15px
        transition: .2s
        color: white

        &:hover
          transition: .2s
          color: #d6d6d6

        i
          font-size: 28px



@import "footer-media"
