@import "../../../../style/data"

@media only screen and (min-width: 992px)
  .open-form

    .check-list

      .check-item

        img
          max-width: 100px

    .t
      padding-bottom: 60px

@media only screen and (max-width: 1199px)
  .open-form

    .check-list

      .check-item

        p
          font-size: 18px

    form

      .t

        h5
          font-size: 20px
          font-weight: 900

      input, button
        font-size: 18px

@media only screen and (max-width: 991px)
  .open-form

    .check-list

      .check-item

        img
          max-width: 40px

        p
          font-size: 20px

    form

      .form-row
        flex-direction: column

        input, button
          font-size: 16px
          max-width: 100%
          margin: 0
          margin-bottom: 10px

      .t

        h5
          max-width: 500px
          font-size: 20px