@import "../../../../style/data"


@media only screen and (min-width: 992px)
  .list

    .t
      margin-bottom: 30px

      h3
        line-height: 1.23

@media only screen and (min-width: 1200px)
  .list

    .t
      margin-bottom: 50px

@media only screen and (max-width: 1280px)
  .list

    .list-item

      .list-item-body

        p
          max-height: 236px

        .zoom-gallery
          min-height: auto
          height: 340px

@media only screen and (max-width: 1199px)
  .list

    .t

      p
        font-size: 20px

    .list-item

      .list-item-body

        .zoom-gallery

      .list-item-body

        img
          max-width: 100%

        p
          font-size: 14px

@media only screen and (max-width: 991px)
  .list

    .slider-for
      padding: 5px

    .list-min-slider-2
      max-width: 100%

    .t

      h2
        margin-bottom: 30px

      p
        font-size: 20px

    .list-item

      .list-item-body
        flex-direction: column
        align-items: center


        .zoom-gallery

        .list-item-desc
          margin-left: 0

        img
          margin: 0 auto
          min-width: 100%
          max-width: 100%

        .list-slider
          max-width: 100%

    .slider-nav
      padding: 5px

      .slick-dots
        bottom: -68px

      .nav-item

        img
          height: 80px
          max-width: 120px

@media only screen and (max-width: 575px)
  .list

    .list-item

      .list-item-body

        .t

          h4
            font-size: 20px

        .list-item-desc

          h5
            font-size: 18px

@media only screen and (max-width: 399px)
  .list

    .slider-for, .slider-nav
      padding: 5px

