@import "../../../../style/data"

.list
  overflow: hidden
  padding: 60px 0
  background-color: #f7f7f7

  .order
    margin-bottom: 10px

    button
      padding: 15px 25px
      font-size: 15px

  .t

    h2
      text-align: center
      color: black

    p
      text-align: center
      padding: 15px
      color: black
      font-weight: 300
      font-size: 24px

  .list-slider

    .slick-arrow
      bottom: 0
      background-color: rgba(0,0,0,.3)

      i
        color: $color2

      &:hover

        i
          color: white

    .prev-arrow
      left: 0

    .next-arrow
      right: 0

    .slick-slide
      margin: 0

      a
        display: block
        cursor: pointer

    .slick-dots
      bottom: -15px

  .list-item
    text-align: left

    .list-item-body
      display: flex
      justify-content: space-between
      align-items: flex-start
      margin: 20px 0

      .list-item-link
        display: flex
        flex: 1
        height: 100%

      .zoom-gallery
        display: flex
        height: 100%
        min-height: 450px
        flex: 1
        background-position: center
        background-size: cover
        background-repeat: no-repeat

      .list-item-desc
        border-radius: 3px
        margin-left: 10px
        display: flex
        height: 100%
        flex-direction: column
        flex: 1
        background-color: white

        .list-item-desc-text
          padding-top: 20px

      .list-slider
        max-width: 550px
        width: 100%

        .slick-slide

      img
        height: auto
        box-shadow: $box_shadow_hard
        border-radius: 4px
        width: 700px
        max-width: 100%

      h5
        text-align: center
        font-size: 23px
        color: rgba(0,0,0,.8)
        padding: 20px
        box-shadow: $box_shadow_hard
        background-color: $color2

      p
        text-align: center
        margin-top: auto
        font-size: 16px
        height: 303px
        max-height: 280px
        overflow-y: scroll
        line-height: 25px
        display: flex
        flex: 1

        span
          font-weight: 700
          font-size: 22px


    h4
      font-size: 24px
      font-weight: 900
      border-radius: 4px
      padding: 15px
      color: black
      text-transform: uppercase

      span
        text-transform: none
        font-weight: 400
        font-size: 20px

    p
      text-align: left
      padding: 15px
      color: black
      font-weight: 500
      line-height: 30px
      font-size: 20px


  .list-questions

    li
      display: flex
      align-items: center
      font-weight: 600
      color: #000
      font-size: 20px
      margin-bottom: 20px

      div
        margin-right: 40px
        color: #1f5bff
        border: 2px solid #1f5bff
        width: 45px
        min-width: 45px
        height: 45px
        text-align: center
        display: flex
        align-items: center
        justify-content: center
        font-size: 20px
        border-radius: 100%
        -webkit-border-radius: 100%
        overflow: hidden
        background-color: #fff


  .list-min-slider, .list-min-slider-2

    img
      height: 98px
      max-width: 150px

  .list-min-slider-2
    max-width: 50%

  .slider-nav, .slider-nav-second

    .nav-item
      border: 0
      cursor: pointer

      &:hover

        img
          transition: .2s
          box-shadow: 0 0 10px 0 rgba(0,0,0,.1)
          border-color: $color3

      img
        height: 107px
        max-width: 167px
        margin: 0 auto
        border-radius: 3px
        transition: .2s
        border: 3px solid white
        box-shadow: 0 0 15px 0 rgba(0,0,0,.3)

    .slick-center

      img
        transition: .2s
        border-color: $color3


@import "list-media"