.list {
  overflow: hidden;
  padding: 60px 0;
  padding-bottom: 0;
  background-color: transparent;
}
.list .slider-for, .list .slider-nav {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
.list .slider-nav {
  margin-top: 10px;
}
.list .order {
  margin-bottom: 10px;
}
.list .order button {
  padding: 15px 25px;
  font-size: 15px;
}
.list .t {
  display: block;
}
.list .t h2 {
  text-align: center;
}
.list .t p {
  text-align: center;
  padding: 15px;
  color: black;
  font-weight: 300;
  font-size: 24px;
}
.list .list-slider .slick-arrow {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.list .list-slider .slick-arrow i {
  color: #e7d885;
}
.list .list-slider .slick-arrow:hover i {
  color: white;
}
.list .list-slider .prev-arrow {
  left: 0;
}
.list .list-slider .next-arrow {
  right: 0;
}
.list .list-slider .slick-slide {
  margin: 0;
}
.list .list-slider .slick-slide a {
  display: block;
  cursor: pointer;
}
.list .list-slider .slick-dots {
  bottom: -15px;
}
.list .list-item {
  text-align: left;
}
.list .list-item .list-item-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
}
.list .list-item .list-item-body .t {
  background-color: #E9C669;
  margin-bottom: 5px;
}
.list .list-item .list-item-body .t h4 {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}
.list .list-item .list-item-body .list-item-link {
  display: flex;
  flex: 1;
  height: 100%;
}
.list .list-item .list-item-body .zoom-gallery {
  display: flex;
  height: 100%;
  min-height: 450px;
  flex: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.list .list-item .list-item-body .list-item-desc {
  border-radius: 3px;
  margin-left: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1;
  background-color: white;
}
.list .list-item .list-item-body .list-item-desc .list-item-desc-text {
  padding-top: 20px;
  text-align: left;
}
.list .list-item .list-item-body .list-item-desc .list-item-desc-text p {
  text-align: left;
}
.list .list-item .list-item-body .list-slider {
  max-width: 550px;
  width: 100%;
}
.list .list-item .list-item-body img {
  height: auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 700px;
  max-width: 100%;
}
.list .list-item .list-item-body h5 {
  text-align: center;
  font-size: 23px;
  color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #E9C669;
}
.list .list-item .list-item-body p {
  text-align: center;
  margin-top: auto;
  font-size: 16px;
  max-height: 280px;
  overflow-y: scroll;
  line-height: 25px;
  display: flex;
  flex: 1;
}
.list .list-item .list-item-body p span {
  font-weight: 700;
  font-size: 22px;
}
.list .list-item h4 {
  font-size: 24px;
  font-weight: 900;
  border-radius: 4px;
  padding: 15px;
  color: black;
  text-transform: uppercase;
}
.list .list-item h4 span {
  text-transform: none;
  font-weight: 400;
  font-size: 20px;
}
.list .list-item p {
  text-align: left;
  padding: 15px;
  color: black;
  font-weight: 500;
  line-height: 30px;
  font-size: 20px;
}
.list .list-questions li {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
}
.list .list-questions li div {
  margin-right: 40px;
  color: #1f5bff;
  border: 2px solid #1f5bff;
  width: 45px;
  min-width: 45px;
  height: 45px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  overflow: hidden;
  background-color: #fff;
}
.list .list-min-slider img, .list .list-min-slider-2 img {
  height: 98px;
  max-width: 150px;
}
.list .list-min-slider-2 {
  max-width: 50%;
}
.list .slider-nav .nav-item, .list .slider-nav-second .nav-item {
  border: 0;
  cursor: pointer;
}
.list .slider-nav .nav-item:hover img, .list .slider-nav-second .nav-item:hover img {
  transition: 0.2s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-color: #56c2f5;
}
.list .slider-nav .nav-item img, .list .slider-nav-second .nav-item img {
  height: 107px;
  max-width: 167px;
  margin: 0 auto;
  border-radius: 3px;
  transition: 0.2s;
  border: 3px solid white;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}
.list .slider-nav .slick-center img, .list .slider-nav-second .slick-center img {
  transition: 0.2s;
  border-color: #56c2f5;
}

@media only screen and (min-width: 992px) {
  .list .t {
    margin-bottom: 30px;
  }
  .list .t h3 {
    line-height: 1.23;
  }
}
@media only screen and (min-width: 1200px) {
  .list .t {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 1280px) {
  .list .list-item .list-item-body p {
    max-height: 236px;
  }
  .list .list-item .list-item-body .zoom-gallery {
    min-height: auto;
    height: 340px;
  }
}
@media only screen and (max-width: 1199px) {
  .list .t p {
    font-size: 20px;
  }
  .list .list-item .list-item-body img {
    max-width: 100%;
  }
  .list .list-item .list-item-body p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .list .slider-for {
    padding: 5px;
  }
  .list .list-min-slider-2 {
    max-width: 100%;
  }
  .list .t h2 {
    margin-bottom: 30px;
  }
  .list .t p {
    font-size: 20px;
  }
  .list .list-item .list-item-body {
    flex-direction: column;
    align-items: center;
  }
  .list .list-item .list-item-body .list-item-desc {
    margin-left: 0;
  }
  .list .list-item .list-item-body img {
    margin: 0 auto;
    min-width: 100%;
    max-width: 100%;
  }
  .list .list-item .list-item-body .list-slider {
    max-width: 100%;
  }
  .list .slider-nav {
    padding: 5px;
  }
  .list .slider-nav .slick-dots {
    bottom: -68px;
  }
  .list .slider-nav .nav-item img {
    height: 80px;
    max-width: 120px;
  }
}
@media only screen and (max-width: 575px) {
  .list .list-item .list-item-body .t h4 {
    font-size: 20px;
  }
  .list .list-item .list-item-body .list-item-desc h5 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 399px) {
  .list .slider-for, .list .slider-nav {
    padding: 5px;
  }
}

/*# sourceMappingURL=list.css.map */
