@import "../../../../style/data"


@media only screen and (min-width: 992px)
  .list

    .t
      margin-bottom: 30px

      h3
        line-height: 1.23

@media only screen and (min-width: 1200px)
  .list

    .t
      margin-bottom: 50px

@media only screen and (max-width: 1199px)
  .list

    .t

      p
        font-size: 20px

    .list-item

      .list-item-body

        .zoom-gallery
          min-height: 350px

      .list-item-body

        img
          max-width: 100%

        p
          font-size: 14px

@media only screen and (max-width: 991px)
  .list

    .list-min-slider-2
      max-width: 100%

    .t

      h2
        margin-bottom: 30px

      p
        font-size: 20px

    .list-item

      .list-item-body
        flex-direction: column
        align-items: center

        .zoom-gallery

        .list-item-desc
          margin-left: 0

        img
          margin: 0 auto
          min-width: 100%
          max-width: 100%

        .list-slider
          max-width: 100%

    .slider-nav

      .slick-dots
        bottom: -68px

      .nav-item

        img
          height: 80px
          max-width: 120px

