@import "../../../../style/data"

@media only screen and (min-width: 576px)
  .participate

    .part-card

      img
        display: none

@media only screen and (min-width: 992px)
  .part-offer-3
    padding-bottom: 50px

@media only screen and (min-width: 1200px)
  .part-offer-3
    padding-bottom: 100px

  .participate

    .part-card

      .part-img

    .t

      h2

@media only screen and (max-width: 1199px)
  .participate

    .part-card
      padding-top: 56px

      h4
        font-size: 18px

      .part-img
        //min-height: 210px
        //min-width: 260px
        width: 150px
        height: 150px

@media only screen and (max-width: 991px)
  .participate

    .part-card

  .part-offer

    .t
      padding: 25px

      h3
        font-size: 28px

        span
          font-size: 24px
          font-weight: 900

  .part-offer-3

    .t

  .participate

    .part-card

      .part-img

@media only screen and (max-width: 767px)
  .participate

    .part-card

      .part-img
        //min-height: 300px



@media only screen and (max-width: 575px)
  .participate

    .part-card

      .part-img
        min-height: 160px

      h4
        font-size: 20px

      img
        //display: block

      .part-img
        //display: none
        //min-height: 300px
