@import "../../style/data"

.home
  position: relative
  overflow: hidden
  font-family: 'Roboto', sans-serif!important

  form
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    .t

      h5
        color: black
        line-height: 30px

    input
      text-align: center
      display: block
      width: 100%
      max-width: 350px
      padding: 15px 10px
      font-size: 16px
      font-weight: 400
      box-shadow: 0 0 10px 0 rgba(0,0,0,.03)
      margin-bottom: 0
      border-radius: 0
      background-color: transparent
      color: white
      transition: .2s
      border: 2px solid $gold

      &::placeholder
        color: white

      &:hover
        transition: .2s
        border-color: white

      &:focus
        transition: .2s
        box-shadow: 0 0 10px 0 rgba(0,0,0,.1)

    button
      max-width: 200px
      border-radius: 0
      padding: 16px 30px
      border: 1px solid rgba(0,0,0,.1)
      font-size: 16px
      font-weight: 500
      width: 100%
      transition: .2s
      color: black
      background-color: $gold

      &:hover
        transition: .2s
        color: white
        background-color: #cdc06b

@import "home-media"