@import "../../../../style/data"

.form-modal-special

  .modal-dialog
    max-width: 900px

  .modal-body
    padding-top: 0

    .t
      width: 100%
      display: flex
      justify-content: center
      margin-top: 20px

      h5
        color: white
        max-width: 400px
        margin: 0 auto

    ul
      background-color: white
      padding: 15px
      border-radius: 3px
      box-shadow: 0 0 10px 0 rgba(white, .4)

      li
        display: flex
        align-items: center
        font-size: 16px
        margin-bottom: 15px

        &:last-child
          margin-bottom: 0

        img
          color: white
          height: 50px
          width: 50px
          margin-right: 10px



  .modal-dialog-centered
    justify-content: center

  .modal-content
    border-radius: 4px
    background-color: rgba(0,0,0,.8)
    max-width: 100%

  .modal-header
    border-bottom: 0
    border-radius: 0

    .modal-title
      color: white
      font-size: 22px
      font-weight: 700
      text-align: center
      width: 100%

    button

      span
        color: white

  form

    .t
      margin-top: 0!important
      padding-top: 0
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center

      p
        font-size: 20px
        color: white!important

    input
      text-align: center
      display: block
      width: 100%
      border-radius: 3px
      max-width: 350px
      padding: 15px 10px
      font-size: 20px
      font-weight: 300
      border: 0
      border-bottom: 1px solid rgba(255,255,255,.7)
      color: white
      background-color: transparent
      margin-bottom: 15px

      &::placeholder
        color: rgba(255,255,255,.8)

    button
      outline: none
      text-transform: uppercase
      padding: 15px 50px
      border-radius: 3px
      font-size: 18px
      font-weight: 700
      transition: .3s
      border: 2px solid transparent
      color: black
      background-color: $gold

      &:hover
        transition: .3s
        background: transparent
        color:  $gold
        border-color: $gold

      p
        color: black
        font-weight: 700

    .order
      padding-top: 20px


@import "form-modal-special-media"