@import "../../../../style/data"

@media only screen and (max-width: 767px)
  .form-modal-special

    .modal-body

      ul
        max-width: 400px
        margin: 0 auto

@media only screen and (max-width: 399px)
  .form-modal-special

    .modal-body

      ul
        max-width: 400px
        margin: 0 auto

        li
          font-size: 14px

          img
            height: 30px
            width: 30px