@import "../../../../style/data"

@media only screen and (min-width: 992px)
  .first-scroll

    .order

    .t

      h1

      h2
        margin-bottom: 0

      p
        font-size: 28px
        margin-bottom: 25px

    .t-sub
      margin-bottom: 0

@media only screen and (min-width: 1200px)
  .first-scroll

    .order
      margin-left: 20px

    .t

      h1

      h2

@media only screen and (max-width: 1199px)
  .first-scroll



    .order

    .t-name
      text-align: center
      margin-top: 40px

@media only screen and (max-width: 991px)
  .first-scroll
    padding-top: 80px

    .static-header
      display: none

    .form-media
      flex-direction: column

      .t
        padding-bottom: 30px

      input
        margin-bottom: 7px!important

      button
        width: 100%
        max-width: 100%
        margin-left: auto

    .t-sub
      padding-top: 0

    .t

      ul
        margin-bottom: 0

      h1
        font-size: 36px
        margin-bottom: 10px

      h2
        font-size: 28px

      h3
        font-size: 22px
        margin-bottom: 10px

      p
        font-size: 22px

    form
      padding-top: 20px

    .t-sub



@media only screen and (max-width: 767px)
  .first-scroll

    .fs-t
      padding: 50px

    .order
      flex-direction: column

      h3
        text-align: center

      button
        font-size: 14px

      .arrow-design
        width: 150px

      .ard1
        right: auto
        left: 0

      .ard2
        right: 50%
        transform: translateX(50%)

      .ard3
        right: 0

    .t

      h1
        letter-spacing: 2px
        font-size: 30px

      h2
        font-size: 24px

      h3

      p
        font-size: 18px

    .t-name

      h4
        font-size: 22px

      h5
        font-size: 18px


@media only screen and (max-width: 575px)
  .first-scroll
    background-position: right center

    .fs-t
      padding: 25px
      padding-top: 50px

    .order
      flex-direction: column

      button
        font-size: 14px

      .arrow-design
        width: 100%
        top: 0
        bottom: 0
        transform: rotateZ(90deg)

      .ard1
        right: auto
        left: 0

      .ard2
        display: none

      .ard3
        display: none


