@import "../../../../style/data"

@media only screen and (min-width: 1200px)
  .sentence

    .t
      margin-bottom: 80px

    .t-desc
      margin-bottom: 0

      p

@media only screen and (min-width: 1600px)
  .sentence

    .t-desc

      p

@media only screen and (min-width: 1700px)
  .sentence

    .t-desc

@media only screen and (max-width: 1699px)
  .sentence

    .video-slider

      .slick-slide

    .t-desc

      p


@media only screen and (max-width: 1199px)
  .sentence

    .t-desc

      p



@media only screen and (max-width: 991px)
  .sentence

    .t-desc
      max-width: 679px

      h5
        font-size: 14px

      p
        font-size: 14px
        padding: 5px

    .video-slider

      .slick-slide
        display: flex
        justify-content: center

      .v-link
        display: inline-block

        .v-box
          position: relative
          max-width: 500px

          .v-play

          img

@media only screen and (max-width: 768px)
  .sentence

    .t

      h5
        font-size: 20px

      p
        font-size: 18px
        padding: 20px



@media only screen and (max-width: 575px)
  .sentence

    .t

      h5
        font-size: 18px

      p
        font-size: 16px

@media only screen and (max-width: 379px)
  .sentence

    .t

      h5
        font-size: 17px

      p
        font-size: 14px


@media only screen and (max-width: 349px)
  .video-slider

    .slick-slide
      padding: 0
      margin: 0
