@import "../../../../style/data"

@media only screen and (min-width: 1200px)
  .sentence

    .t
      margin-bottom: 80px

    .t-desc
      margin-bottom: 0

      p
        font-size: 14px

@media only screen and (min-width: 1600px)
  .sentence

    .t-desc

      p
        font-size: 16px

@media only screen and (min-width: 1700px)
  .sentence

    .t-desc

      p
        font-size: 21px

@media only screen and (max-width: 1699px)
  .sentence

    .video-slider

      .slick-slide

    .t-desc

      p


@media only screen and (max-width: 1399px)
  .sentence

    .t-desc

      p
        font-size: 14px



@media only screen and (max-width: 991px)
  .sentence

    .t-desc
      max-width: 679px

    .video-slider

      .slick-slide
        display: flex
        justify-content: center

      .v-link
        display: inline-block

        .v-box
          position: relative
          max-width: 500px

          .v-play

          img


@media only screen and (max-width: 349px)
  .video-slider

    .slick-slide
      padding: 0
      margin: 0
